<div id="createModal"
     class="modal"
     role="dialog" >
   <div class="modal-dialog" >
      <div class="modal-content" >
         <div class="modal-header" >
            <h4 class="modal-title" >Update</h4 >
         </div >
         <div class="modal-body center-block" >
            <span>Are you sure that you want to update user?</span>
            <div class="button-group">
               <button ng-click="update()" class="btn btn-warning">Yes</button>
               <button class="btn btn-default" ng-click="closeModal()">No</button>
            </div>
         </div >
      </div >

   </div >
</div >